//component

// loader

#loading{
  background-color: $orange;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;
}
#loading.hide{
  z-index: -1;
  opacity: 0;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}

.section-title {
  @extend %title;
}

.page-title {
  @extend %title;
  text-transform: uppercase;
  .small-title {
    font-size: $smallTitleFontSize;
  }
}
  //links

.link {
  font-size: $linkFontSizeDefault;
  color: $linkColor;
  &.large-link {
    font-size: $linkLargeFont;
  }
  &:hover {
    color: $linkHoverColor;
  }
}
  // button
.btn {
  padding: 12px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;
  & + .btn{
    margin-left: $defaultIndent;
  }
  &.btn-default {
    background-color: $btnDefaultBg;
    &:hover {
      background-color: $btnDefaultBgHover;
    }
  }
  &.btn-action {
    background-color: $btnActionBg;
    &:hover {
      background-color: $btnActionBgHover;
    }
  }
  &.btn-disabled {
    background-color: $btnDisableBg;
    cursor: not-allowed;
    &:hover {
      background-color: $btnDisableBgHover;
    }
  }
}

  //table
.table {
  border-collapse: collapse;
  font-size: $tableFontSize;
  white-space: nowrap;
  tbody {
    tr {
      &:last-child{
        td{
          border-bottom: $defaultBorder;
        }
      }
      &:hover {
        background-color: $tableTrHover;
      }
    }
  }
  .table-sort {
    color: $grey;
    padding: 8px 10px;
    margin: -8px -10px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    @media (max-width: $lg-size) {
      padding: 8px 6px;
    }
    .icon{
      margin-left: 10px;
      opacity: 0;
      @media (max-width: $lg-size) {
        display: none;
      }
      &:before{
        position: relative;
        bottom: 3px;
      }
    }
    &:hover {
      background-color: $lightGrey;
      color: $black;
      .icon{
        opacity: 1;
      }
    }
  }
  tr {
    th {
      padding: 30px 18px;
      color: $grey;
    }
    td {
      border-top: $defaultBorder;
      padding: 18px;
      @media (max-width: $lg-size){
        padding: 16px;
        @media (max-width: $xs-size){
          padding: 10px;
        }
      }
      &.td-title {
        color: $grey;
        font-size: 16px;
      }
    }
  }
}

  //pagination
%activePaginationLink{
  background-color: $xsLightGrey;
  color: $grey;
  border-radius: 2px;
}

.pagination{
  padding: 25px;
  @media (max-width: $xs-size){
    padding: 20px;
  }
  @media(max-width: $mini-size){
    padding: 12px;
  }
  li{
    display: inline-block;
    &.active{
      a{
        @extend %activePaginationLink;
      }
    }
    a{
      display: inline-block;
      padding: $defaultIndent;
      @media (max-width: $lg-size){
        padding: 14px;
      }
      @media (max-width: $sm-size){
        padding: 12px;
      }
      @media (max-width: $xs-size){
        padding: 7px;
      }
      &:hover{
        @extend %activePaginationLink;
      }
    }
  }
}
  //  color tab
.color-tab {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  width: fit-content;
  &:hover {
    cursor: pointer;
    background-color: $tabBgHoverActive;
  }
  &:active {
    background-color: $tabBgHoverActive;
  }
  .circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 12px;
    &.blue-bg{
      background-color: #80bfca;
    }
    &.orange-bg{
      background-color: #ff9a38;
    }
    &.green-bg{
      background-color: #59b66d;
    }
  }
  span {
    font-size: $colorTabFontSize;
    color: $colorTabTextColor;
  }
}

  // inputs

.form-control {
  padding: 12px 15px;
  color: $inputColor;
  border: 1px solid $inputBorderDefault;
  border-radius: 2px;
  width: 200px;
  &.text-input {
    font-family: $fontFamily;
    font-weight: $fontLight;
    font-size: $textareaFont;
    padding: 15px;
  }
  &:hover {
    cursor: pointer;
    color: $inputColorHover;
    border-color: $inputBorderHover;
  }
  &.disabled {
    color: $inputColorHover;
    border-color: $inputBorderDefault;
    background-color: $xsLightGrey;
  }
  &.invalid {
    border: 2px solid $red;
  }
}

.datepicker-form{
  .btn{
    vertical-align: middle;
    @media (max-width: $xs-size){
      width: 100%;
    }
  }
}
.date-input-wrap{
  padding: 4px 0;
  border: $defaultBorder;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  @media (max-width: $xs-size){
    margin-bottom: $defaultIndent;
    width: 100%;
  }
  .date-control{
    padding: 11px 16px;
    font-family: $fontFamily;
    font-weight: $fontLight;
    font-size: calc($textareaFont + 2px);
    @media (max-width: $xs-size){
      width: 100%;
    }
  }
  #to{
    border-left: $defaultBorder;
    background: url("../img/calendar.svg") no-repeat 90%;
    background-size: 13px 13px;
    @media (max-width: $xs-size){
      display: block;
      border-left: none;
      border-top: $defaultBorder;
    }
  }
}
  //notifications
.notification {
  line-height: $notificationLineHeight;
  padding: 12px 15px;
  color: $white;
  width: 266px;
  &.positive {
    background-color: $positiveNotificationBg;
    &:hover {
      cursor: pointer;
      background-color: $positiveNotificationBgHover;
    }
  }
  &.negative {
    background-color: $negativeNotificationBg;
    &:hover {
      cursor: pointer;
      background-color: $negativeNotificationBgHover;
    }
  }
}
  //container

.container-fluid {
  padding: $defaultIndent;
}
.container-sm {
  max-width: 684px;
  margin: 0 auto;
}

  //row{
.row{
  margin-left: -$defaultIndent;
  margin-right: -$defaultIndent;
}
  //header

.header {
  background-color: #fff;
  border-bottom: $defaultBorder;
  right: 0;
  left: 0;
  .container-fluid {
    padding: 0;
    justify-content: flex-end;
  }
  .user-info {
    padding: $defaultIndent;
    border-left: $defaultBorder;
    @media (max-width: $xs-size){
      padding: 10px;
    }
    &.user-wallet {
      color: $darkGrey;
      font-size: 20px;
      font-weight: $fontRegular;
      span{
        margin: 0 20px;
        @media(max-width: $mini-size){
          display: none;
        }
      }
      .icon-arrow-down{
        @media(max-width: $mini-size){
          margin-left: 10px;
        }
      }
    }
    &.user-notifications{
      .icon{
        position: relative;
        &::after{
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: $orange;
        position: absolute;
        top: -3px;
        right: -1px;
        }
      }
    }
    &.link {
      flex-wrap: nowrap;
      .icon{
        margin-right: 15px;
        &::before{
          vertical-align: middle;
        }
        @media(max-width: $mini-size){
          display: none;
        }
      }
      @media(max-width: $mini-size){
        line-height: 21px;
      }
    }
    .icon {
      color: $darkGrey;
      font-size: 18px;
    }
    &:hover{
      span{
        color: $orange;
      }
      .icon{
        color: $orange;
      }
    }
  }
}

.dropdown-menu{
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  top: 100%;
  left: 0;
  ul{
    li{
      font-weight: $fontLight;
      padding: $defaultIndent;
      @media (max-width: $xs-size){
        padding: 12px;
      }
      &:hover{
        color: $orange;
      }
      & + li{
        border-top: $defaultBorder;
      }
    }
  }
}

.dropdown-wrap{
  position: relative;
  cursor: pointer;
}

  //aside

.aside {
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  .menu-control {
    padding: $defaultIndent;
    .menu-btn {
      cursor: pointer;
      span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;
        & + span {
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu {
    ul {
      padding-bottom: 27px;
      li {
        color: $darkGrey;
        border-left: 4px solid transparent;
        &.active, &:hover{
          background-color: #282828;
          color: $white;
          border-left: 4px solid $orange;
        }
        a {
          display: block;
          padding: 14px;
          font-size: 14px;
          .icon{
            font-size: 17px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.your-manager {
  padding: 27px $defaultIndent;
  border-top: 1px solid $darkGrey;
  .manager-info {
    margin-top: $defaultIndent;
    .manager-photo {
      position: relative;
      margin-right: 10px;
      .status {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        &.offline {
          background-color: $red;
        }
        &.online {
          background-color: $green;
        }
      }
    }
  }
}

// panel

.panel{
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  margin-bottom: 25px;
  & + .panel{
    margin-top: $defaultIndent;
  }
  &.links{
    .panel-body{
      padding: 25px $defaultIndent;
    }
    .table{
      .td-title{
        @media(max-width: $mini-size) {
          display: none;
        }
      }
      td{
        @media(max-width: $mini-size){
          padding: 10px;
        }
      }
      .link{
        @media(max-width: $mini-size){
          font-size: 12px;
        }
      }
    }
  }
  .panel-header{
    border-bottom: $defaultBorder;
    padding: $defaultIndent;
  }
  .panel-body{
    padding: 0 $defaultIndent;
  }
  .panel-form{
    padding: 40px 0;
    border-bottom: $defaultBorder;
    text-align: center;
    form{
      width: 455px;
      display: inline-block;
      @media (max-width: $xs-size){
        width: 320px;
      }
      @media(max-width: $mini-size){
        width: 197px;
      }
      .label-group{
        label{
          font-weight: $fontBold;
          color: $darkGrey;
          @media (max-width: $xs-size){
            margin-bottom: 10px;
          }
        }
        & + .label-group{
          margin-top: 15px;
        }
      }
      .form-control{
        width: 310px;
        @media (max-width: $xs-size){
          width: 100%;
          }
        }
      }
    }
  .panel-footer{
    padding: 30px 0;
  }
}

.panel-date{
  padding: 30px 0;
  border-bottom: $defaultBorder;
  form{
    padding: 0 $defaultIndent;
  }
}

// label group
.label-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $xs-size){
    flex-wrap: wrap;
  }
}

//chart

.chart-wrap{
  padding-bottom: 30px;
  width: 670px;
  height: 260px;
}

//modals

.modal{
  background-color: $white;
  display: none;
  .modal-header{
    padding: $defaultIndent;
    border-bottom: $defaultBorder;
    .close{
      cursor: pointer;
    }
  }
  .filters{
    padding: 25px $defaultIndent;
    border-bottom: $defaultBorder;
    .section-title{
      margin-bottom: 15px;
    }
    .flex-container{
      @media (max-width: $sm-size){
        flex-wrap: wrap;
      }
    }
    form{
      textarea{
        resize: none;
      }
      &:first-child{
        flex-grow: 1;
        input{
          width: 50%;
          margin-right: 20px;
          @media (max-width: $xs-size){
            width: 100%;
            margin-right: 0;
            margin-bottom: $defaultIndent;
          }
        }
        .jq-selectbox{
          flex-grow: 1;
        }
      }
      &:last-child{
        .lang-en{
          background: url("../img/lang-en-bg.png") no-repeat;
          background-position: 10px;
        }
        .lang-de{
          background: url("../img/lang-de-bg.png") no-repeat;
          background-position: 10px;
        }
        .lang-ua{
          background: url("../img/lang-ua-bg.png") no-repeat;
          background-position: 10px;
        }
        .lang-ru{
          background: url("../img/lang-ru-bg.png") no-repeat;
          background-position: 10px;
        }
        .jq-selectbox.select-language{
          .jq-selectbox__select{
            padding-left: 57px;
          }
          width: 132px;
          @media (max-width: $sm-size){
            width: 100%;
          }
          li{
            padding-left: 57px;
          }
        }
      }
      & + form{
        margin-left: $defaultIndent;
        @media (max-width: $sm-size){
          margin-left: 0;
          margin-top: $defaultIndent;
        }
      }
      @media (max-width: $sm-size){
        width: 100%;
      }
    }
  }
  .modal-body{
    padding-left: $defaultIndent;
    padding-right: $defaultIndent;
  }
  .modal-footer{
    padding: $defaultIndent;
    border-top: $defaultBorder;
    .generate-link-form{
      @media (max-width: $xs-size){
        flex-wrap: wrap;
      }
      input{
        margin-right: 16px;
        @media (max-width: $xs-size){
          width: 100%;
          margin-right: 0;
          margin-bottom: $defaultIndent;
        }
      }
      .btn{
        line-height: 1em;
        &.btn-disabled{
          span{
            margin-right: 15px;
          }
        }
        @media (max-width: $xs-size){
          width: 47%;
        }
        @media(max-width: $mini-size){
          width: 100%;
        }
        &.btn-action{
          @media(max-width: $mini-size){
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// checkbox and radio

.checkbox-wrap{
  padding: 30px 0;
  .checkboxes{
    padding-top: 30px;
    overflow-y: auto;
    .scrollbar-inner{
      flex-wrap: wrap;
      height: 150px;
      padding-right: 20px;
    }
    .checkbox-group{
      padding: 12px;
      margin-right: 18px;
      .icon{
        margin-left: auto;
        opacity: 0;
      }
      &:hover{
        background-color: $xsLightGrey;
        .icon{
          opacity: 1;
        }
      }
    }
  }
}

input{
  &[type="checkbox"]{
    display: none;
    & + label{
      font-size: 14px;
      color: $black;
      cursor: pointer;
      display: flex;
      align-items: center;
      &::before{
        content: "";
        display: inline-block;
        height: 18px;
        width: 18px;
        border: $defaultBorder;
        margin-right: 16px;
      }
    }
    &:checked{
      & + label{
        &::before{
          background: $green url(../img/checkbox-bg.png) no-repeat center;
        }
      }
    }
  }
  &[type="radio"]{
    display: none;
  }
}
.jq-selectbox{
  &:focus{
    outline: none;
  }
  &.focused{
    .jq-selectbox__select{
      border: 1px solid $inputBorderDefault;
    }
  }
  .jq-selectbox__select{
    height: auto;
    padding: 14px 15px;
    color: $inputColor;
    border: 1px solid $inputBorderDefault;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    .jq-selectbox__select-text{
      line-height: normal;
      color: $black;
    }
    .jq-selectbox__trigger{
      border-left: none;
      .jq-selectbox__trigger-arrow{
        border: none;
        width: 11px;
        height: 7px;
        background: url("../img/arrow-down.svg") no-repeat;
        top: 18px;
        right: 17px;
      }
    }
    &:hover {
      cursor: pointer;
      color: $inputColorHover;
    }
  }
  &.disabled{
    .jq-selectbox__select-text{
      color: $grey;
    }
    .jq-selectbox__select{
      height: auto;
      padding: 14px 15px;
      border: 1px solid $inputBorderDefault;
      border-radius: 2px;
      background: none;
      &:hover {
        cursor: pointer;
        color: $inputColorHover;
        border-color: $inputBorderHover;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .jq-selectbox__dropdown{
    box-shadow: none;
    margin: 0;
    &:focus{
      outline: none;
    }
    ul{
      &:focus{
        outline: none;
      }
      li{
        font-weight: $fontLight;
        padding: 14px 15px;
        line-height: 1em;
        & + li{
          border-top: $defaultBorder;
        }
        &:hover{
          color: $orange;
          background-color: #fff;
        }
        &:focus{
          outline: none;
        }
        &.selected{
          background-color: #fff;
          color: $black;
        }
        &.disabled{
          color: $grey;
        }
      }
    }
  }
}

// range slider

#slider {
  height: 6px;
  border: none;
  background-color: $lightGrey;
  border-radius: 0px;
  .ui-slider-range{
    background-color: $orange;
    border-radius: 0px;
  }
  #custom-handle {
    top: 12px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 22px solid $orange;
    border-top: none;
    transform: translateX(-6px);
    &.ui-state-default{
      background: none;
    }
    &:focus, &:hover {
      outline: none;
      background: none;
      color: $black;
    }
    span {
      position: absolute;
      top: 34px;
      left: -22px;
      font-size: 14px;
      font-weight: $fontLight;
    }
  }
}

// scrollbar

.scrollbar-inner{
  & > .scroll-element{
    .scroll-element_track{
      background-color: $lightGrey;
      opacity: 1;
    }
    .scroll-bar{
      background-color: $darkGrey;
      opacity: 1;
    }
  }
}

