// Guide style

.guide-wrap{
    padding: 20px;

    & > *{
        margin-bottom: 15px;
    }
}

//main style

main{
  padding-left: $asideWidth;
  padding-top: 60px;
  @media(max-width: $lg-size){
    padding-left: $asideWidthMini;
  }
  @media(max-width: $xs-size){
    padding-left: $sidebarMobileWidth;
  }
}
.links .table{
  margin: $defaultIndent 0;
}
.generate-link-form{
  .form-control{
    flex-grow: 1;
  }
}
._mobileSidebar{
  main{
    padding-left: $sidebarMobileWidth;
  }
  .aside{
    width: $sidebarMobileWidth;
    overflow-y: visible;
    .logo{
      display: none;
    }
    .aside-menu{
      justify-content: center;
    }
    .aside-menu{
      li{
        text-align: center;
        position: relative;
        &:hover{
          .menu-link{
            display: flex;
          }
        }
      }
      a{
        .icon{
          margin-right: 0;
        }
        .menu-link{
          display: none;
          position: absolute;
          left: 100%;
          height: 100%;
          min-width: 150px;
          background-color: $black;
          align-items: center;
          padding-left: 20px;
          top: 0;
        }
      }
    }
    .your-manager{
      padding-left: 5px;
      padding-right: 5px;
      .page-title{
        display: none;
      }
      .manager-info{
        justify-content: center;
        .manager-photo{
          margin-right: 0;
          img{
            width: 40px;
            height: 40px;
          }
        }
        .link{
          display: none;
        }
      }
    }
  }
}

// general statistic

.general-statistic{
  .panel-body {
    padding: 38px $defaultIndent;
    table{
      width: 310px;
      @media (max-width: $sm-size) {
        width: 100%;
      }
      tbody{
        tr{
          &:first-child{
            td{
              border: none;
            }
          }
          td{
            padding: $defaultIndent 0;
            &:last-child{
              text-align: end;
            }
          }
        }
      }
    }
    .section-title{
      margin: 75px 0 40px 0;
      @media (max-width: $sm-size) {
        margin: 40px 0;
      }
    }
    .chart-color-tabs{
      justify-content: center;
      margin-bottom: 75px;
      @media (max-width: $xs-size){
        flex-wrap: wrap;
      }
      .color-tab{
        & + .color-tab{
          margin-left: 30px;
          @media (max-width: $xs-size){
            margin-left: 0;
            margin-top: 10px;
          }
        }
        @media (max-width: $xs-size){
          width: 130px;
        }
      }
      @media (max-width: $sm-size) {
        margin-bottom: 40px;
      }
    }
  }
}

.panel-details{
  table{
    thead{
      tr{
        th{
          padding: 30px 10px;
        }
      }
    }
  }
}

.panel-postback{
  .panel-body{
    p{
      margin-top: 33px;
      line-height: 1.5em;
      @media (max-width: $mini-size) {
        margin-top: 20px;
      }
    }
    form{
      .btn-row{
        text-align: end;
        padding: $defaultIndent;
      }
      .checkbox-wrap{
        padding: 0;
        .checkboxes{
          padding: 0;
        }
      }
      .section-title{
        padding: 22px 0;
      }
      .half-width-col{
        @media (max-width: $sm-size){
          width: 100%;
        }
        textarea{
          width: 100%;
          height: 187px;
        }
        & + .half-width-col{
          margin-left: $defaultIndent;
          @media (max-width: $sm-size){
            margin: 0;
          }
        }
      }
      .third-width-col{
        .jq-selectbox{
          width: 100%;
        }
        & + .third-width-col{
          margin-left: $defaultIndent;
          @media (max-width: $sm-size){
            margin: 0;
          }
        }
        @media (max-width: $sm-size) {
          width: 100%;
        }
      }
      .postback-form-wrap{
        padding: 23px;
        border-bottom: $defaultBorder;
        border-top: $defaultBorder;
        margin-top: 40px;
        .half-width-col{
          @media (max-width: $sm-size){
            width: 100%;
          }
          & + .half-width-col{
            margin-left: 40px;
            @media (max-width: $sm-size){
              margin: 0;
            }
          }

        }
        .slider-wrap{
          padding: 34px 0 70px;
        }
      }
      .flex-container{
        @media (max-width: $sm-size){
          flex-wrap: wrap;
        }
      }
    }
  }
}

.payout-history{
  tr{
    th{
      @media (max-width: $xs-size){
        padding: 14px;
      }
    }
    td{
      @media (max-width: $xs-size){
        padding: 11px;
      }
    }
  }
}
//modals

#add-links-modal{
  width: 1075px;
  .checkbox-group{
    width: 30%;
    @media (max-width: $sm-size){
      width: 45%;
    }
    @media(max-width: $mini-size){
      width: 100%;
    }
  }
  @media (max-width: $lg-size){
    width: 900px;
  }
  @media (max-width: $md-size){
    width: 720px;
  }
  @media (max-width: $sm-size){
    width: 570px;
  }
  @media (max-width: $xs-size){
    width: 450px;
  }
  @media(max-width: $mini-size){
    width: 300px;
  }
}

#add-banners-modal{
  width: 1075px;
  @media (max-width: $lg-size){
    width: 900px;
  }
  @media (max-width: $md-size){
    width: 720px;
  }
  @media (max-width: $sm-size){
    width: 570px;
  }
  @media (max-width: $xs-size){
    width: 450px;
  }
  @media(max-width: $mini-size){
    width: 300px;
  }
  .filters{
    .flex-container{
      &:first-child{
        margin-bottom: 35px;
      }
      &:last-child{
        form{
          width: 33.3333%;
          .jq-selectbox{
            width: 100%;
          }
          @media (max-width: $sm-size){
            width: 100%;
          }
        }
      }
    }
  }
  .modal-body{
    .flex-container{
      @media (max-width: $xs-size){
        flex-wrap: wrap;
      }
    }
  }
  .checkbox-wrap{
    width: 50%;
    padding-left: $defaultIndent;
    padding-right: $defaultIndent;
    @media (max-width: $xs-size){
      width: 100%;
    }
    & + .checkbox-wrap{
      border-left: $defaultBorder;
      @media (max-width: $xs-size){
        border-left: none;
        border-top: $defaultBorder;
      }
    }
  }
}

.login-modal{
  @media (max-width: $sm-size){
    width: 570px;
  }
  @media (max-width: $xs-size){
    width: 450px;
  }
  @media(max-width: $mini-size){
    width: 300px;
  }
  .modal-body{
    padding: 48px;
    @media (max-width: $sm-size){
      padding: 30px;
    }
    form{
      @media (max-width: $sm-size){
        flex-wrap: wrap;
      }
      .form-control {
        margin-right: $defaultIndent;
        @media (max-width: $sm-size){
          width: 100%;
          margin-right: 0;
          margin-bottom: $defaultIndent;
        }
        input{
          margin-left: 10px;
          width: 100%;
          height: 15px;
        }
      }
      .btn{
        padding: 10px 62px;
        @media (max-width: $sm-size){
          width: 100%;
        }
      }
    }
  }
}

#login-wrong-modal{
  .modal-body{
    padding-bottom: 29px;
    .flex-container{
      div{
        @media (max-width: $sm-size){
          width: 100%;
        }
      }
    }
  }
  .form-control{
    height: 45px;
    color: $black;
    &.text-input{
      border-color: $black;
    }
  }
  .red-text{
    display: block;
    margin: 14px 0 7px;
  }
  .btn{
    height: 45px;
    @media (max-width: $sm-size){
      margin-top: $defaultIndent;
    }
  }
}

#quit-modal{
  width: 359px;
  @media(max-width: $mini-size){
    width: 300px;
  }
  .btn-row{
    text-align: end;
    padding: 22px;
    a{
      cursor: pointer;
    }
  }
}

#chat-modal{
  width: 1074px;
  @media (max-width: $lg-size){
    width: 900px;
  }
  @media (max-width: $md-size){
    width: 720px;
  }
  @media (max-width: $sm-size){
    width: 570px;
  }
  @media (max-width: $xs-size){
    width: 450px;
  }
  @media(max-width: $mini-size){
    width: 300px;
  }
  .modal-header{
    @media (max-width: $mini-size){
      padding: 10px;
      line-height: 1.5em;
    }
  }
  .manager-modal{
    padding: 10px $defaultIndent;
    border-bottom: $defaultBorder;
    .manager-modal-img{
      margin-right: $defaultIndent;
      img{
        width: 70px;
        height: 70px;
      }
    }
    .manager-modal-info{
      padding: 10px 0;
      h2{
        font-size: 30px;
        margin-bottom: 5px;
      }
      span{
        display: inline-block;
        color: $white;
        padding: 3px 6px;
        font-size: 12px;
        background-color: $green;
        border-radius: 2px;
      }
    }
  }
  .chat-wrap{
    height: 319px;
  }
  .modal-footer{
    @media (max-width: $mini-size){
      flex-wrap: wrap;
    }
    .form-control{
      flex-grow: 1;
      margin-right: $defaultIndent;
      @media (max-width: $mini-size){
        margin-right: 0;
        margin-bottom: $defaultIndent;
      }
      input{
        width: 85%;
      }
      label{
        font-size: 16px;
        margin-right: 12px;
        vertical-align: middle;
        @media (max-width: $xs-size){
          margin-right: 6px;
        }
      }
    }
    .btn{
      @media (max-width: $mini-size){
        width: 100%;
      }
    }
  }
}


