//text-classes
.text-bold{
    font-weight: $fontBold;
}
.text-center{
  text-align: center;
}
.text-left{
    text-align: left;
}
//class position fixed
.fixed-to-top{
    position: fixed;
    z-index: 99;
    top:0;
}

//class flexbox

.flex-container{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-sb{
    justify-content: space-between;
}

// columns

.half-width-col{
    width: 50%;
}
.full-width{
    width: 100%;
}

// Content wrapper

.content-wrapper{
    padding: $defaultIndent;
    height: calc(100vh - 60px);
}
